.app-header {
  width: 60%;
}

.app-header-ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.app-header-li {
  font-size: 25px;
  font-weight: 600;
}

.app-header-p {
  font-size: 15px;
  font-weight: 400;
  margin-top: 5px;
}

hr {
  margin: 0;
}
