body {
  margin: 0;
  padding: 0;
}

.app {
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.app-main {
  width: 75%;
  height: 30rem;
  background-color: #fff;
  color: black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-main-promt {
  margin: -5rem;
}

input {
  border: none;
  background-color: rgb(243, 243, 243);
  margin: 5px;
  padding: 6px 12px;
  border-radius: 3px;
  min-width: 160px;
}

.app-main-promt-answer {
  max-width: 60%;
  margin: auto;
}

.btns {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.btns button {
  padding: 6px 12px;
  border-radius: 3px;
  cursor: pointer;
  margin: 10px;
}
.btn-cancel {
  background-color: transparent;
  border: solid 1px;
  border-color: lightgray;
}

.btn-go {
  background-color: #007bff;
  color: #fff;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-go:hover {
  background-color: #0056b3;
}
